<div id="ico-contact" v-cloak="busy">
    <style id="ico-contact-style">

    </style>

    <div class="contact">

        <div class="name">
            {{ forename }}
            {{ surname }}
        </div>

        <h2 v-if="sponsor">Sponsor</h2>
        <div class="email">{{ email }}</div>
        <div class="skype">{{ skype }}</div>
    </div>
</div>
