.under-construction {
    position: relative;
    min-width: 200px;
    min-height: 200px;

}

.under-construction > .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.under-construction > .overlay > img {
    max-width: 160px;
    max-height: 160px;
}

.percent:after {
    content: '%';
}

.usd:after {
    content: ' USD';
    font-size: 12px;
    font-weight: 400;
}

.btc:after {
    content: ' BTC';
    font-size: 12px;
    font-weight: 400;
}

.eth:after {
    content: ' ETH';
    font-size: 12px;
    font-weight: 400;
}

.transfer-pay .cc-address {
    /*display: none;*/
}

.transfer-pay .cc-address .value {
    font-family: "Courier New", monospace;
    color: black;
    font-size: 16px;
}

.transfer-pay.cc .cc-address {
    display: block;
}

.transfer-pay.cc .field-payment-amount {
    display: none;
}

.transfer-pay.cc [type=submit] {
    display: none;
}

.control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.control > .filters > * {
    margin-left: 4px;
}

.control > .filters .label:after {
    content: ': ';
}

td[data-children], td.level, [name="s[children]"], [name="s[level]"] {
    max-width: 40px;
}

tr[data-level] {
    cursor: pointer;
}

tr[data-id]:hover:not(.expanded) > td[data-children] {
    font-weight: bold;
    color: gray;
}

tr[data-id] > td[data-children]:after {
    margin-left: 8px;
}

tr[data-id]:not(.expanded) > td[data-children]:after {
    content: '+';
    color: black;
}

.children thead th {
    background-color: #eee;
}

[data-level="2"] > td[data-children] {
    width: 30px;
}

tr.expanded td[data-children]:after {
    content: '–';
}

.grid-view table tr ~ .children > td {
    padding: 0;
}

tr + .children > td {
    position: relative;
    visibility: hidden;
    opacity: 0;
}

tr.expanded + .children > td {
    visibility: visible;
    opacity: 1;
    transition: opacity 300ms, visibility 300ms;
}

tr + .children > td > .grid-view {
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    border: 1px solid #d0d0d0;
}

@media (min-width: 480px) {
    #main {
        padding-bottom: 250px;
    }

}

@media (min-width: 480px) and (max-width: 1000px){
    #main {
        padding-bottom: 650px;
    }

    .header-balance span {
        font-size: 26px !important;
        line-height: 1 !important;
        margin: 1px !important;
        background: white !important;
        color: #3c3c3c !important;
        font-weight: 100 !important;
        padding: 0px 0px !important;
        display: inline-block !important;
        border-radius: 5px !important;
        text-align: right !important;
        min-width: auto !important;
    }

    .header-balance b, .logo-wrapper {
        display: none;
    }
}
@media (max-width: 480px) {
    #main {
        padding-bottom: 640px;
    }

    footer * {
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-view > table > thead {
        min-height: 190px !important;
    }

    table {
        margin-bottom: 20px;
    }

    .children thead {
        display: none !important;
    }

    .structure-table .grid-view > table > thead, .structure-table tr, .children tr {
        min-height: 260px !important;
    }

    .transfer-index .grid-view > table > thead, .transfer-index tr, .children tr {
        min-height: 180px !important;
    }

    .grid-view > table td {
        padding: 5px 5px 5px 5px !important;
        width: 100% !important;
    }

    #flat-button.section a {
        width: 100%;
        margin-bottom: 10px;
        display: block;
    }

    img {
        max-width: 100%;
    }

    .social-ru a, .social-en a.btn-floating,
    div[data-uri="/home/cases"] a.btn-floating,
    div[data-uri="/home/instagram"] a.btn-floating {
        display: none;
    }

}

body {
    min-height: 100vh;
}

footer.page-footer.red.darken-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.grid-view > table td {
    padding: 0px 1px;
}

.grid-view > table td[data-children] {
    padding-left: 0px;
}

.grid-view > table thead tr input {
    height: 1.4rem;
    margin-bottom: 6px;
}

.table-control {
    background-color: #eee;
    position: fixed;
    top: 76px;
    right: 12px;
    padding: 8px;
    /*bottom: 16px;*/
}

.grid-view .profile-link {
    display: flex;
    align-items: center;
}

.grid-view .profile-link .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 8px;
}

.panic {
    font-size: 1.5em;
    margin-left: 1em;
}

#overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 500ms, visibility 500ms;
}

#overlay.visible {
    visibility: visible;

    display: flex;
    opacity: 1;
}

#overlay .close {
    position: fixed;
    top: 8px;
    right: 8px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2em;
    cursor: pointer;
}

#overlay img {
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 32px);
}

.card-content .card-stats-compare {
    display: none;
}

.program-index ul.list {
    display: flex;
    justify-content: space-between;
}

.program-index ul.list .program-table {
    display: table;
}

.program-index ul.list .program-table > .field {
    display: table-row;
}

.program-index ul.list .program-table > .field > div {
    display: table-cell;
}

.program-index ul.list .currencies {
    display: flex;
    justify-content: space-between;
}

.program-index ul.list .field-range .currencies > div {
    cursor: pointer;
}

.program-index ul.list .field-range .currencies > div:hover {
    color: #00b0ff;
}

.program-index li[data-currency="USD"] .select-currency[data-currency="USD"],
.program-index li[data-currency="BTC"] .select-currency[data-currency="BTC"],
.program-index li[data-currency="ETH"] .select-currency[data-currency="ETH"] {
    background-color: #00b0ff;
}

.program-index li .field-amount {
    visibility: hidden;
    opacity: 0;
}

.program-index li[data-currency] .field-amount {
    visibility: visible;
    opacity: 1;
    transition: opacity 400ms, visibility 400ms;
}

.program-index li button.reserve {
    visibility: hidden;
}

.program-index li.reserve button.open {
    display: none;
}

.program-index li.reserve button.reserve {
    visibility: visible;
}

.program-index li .reserve-date > * > label {
    display: block;
}

.program-index li .reserve-date > [data-currency] {
    display: none;
}

.program-index li[data-currency="USD"].reserve .reserve-date > [data-currency="USD"],
.program-index li[data-currency="BTC"].reserve .reserve-date > [data-currency="BTC"],
.program-index li[data-currency="ETH"].reserve .reserve-date > [data-currency="ETH"] {
    display: block;
}

#choose-locale {
    display: flex;
    flex-direction: column;
}

#choose-locale li {
    display: none;
}

#choose-locale:hover li {
    display: block;
}

#choose-locale li.current {
    display: block;
    order: 0;
}

#choose-locale li:not(.current) {
    order: 1;
    cursor: pointer;
}

html.login::after {
    background: url("/images/login.png") no-repeat left top;
    width: 100%;
    height: 100%;
    content: '1';
    display: block;
    position: absolute;
    left: 0 !important;
    top: 0;
    z-index: -1;
    background-size: cover;
}

.transfer-pay .field-amount {
    display: none;
}

.transfer-pay:not(.cc) .field-amount {
    display: block;
}

.transfer-pay:not(.cc) .cc-address {
    display: none;
}

.transfer-pay.cc > form > .cc-address + .row {
    display: none;
}

.hidden {
    display: none;
}

/*
.structure-index #sponsor .card {
    height: 0;
    overflow-y: hidden;
    transition: height 300ms;
}

.structure-index #sponsor:hover .card {
    height: 400px;
}
*/

.money .btc {
    font-weight: 600;
    font-size: 19px;
    display: inline-block;
}
