$red: #d32f2e;
$orange: #fa8b00;
$green: #689f38;
$red-l1: #e53935;
$blue: #28b6f6;
$blue-d1: #03a9f5;
$blue-l1: #33c0ff;
$text-black: #353854;

@mixin move-top($name, $top) {
  @keyframes #{$name}
  {
    0% {
      top: $top;
    }
    80% {
      top: $top;
    }
    90% {
      top: $top - 10px;
    }
    100% {
      top: $top + 10px;
    }
  }

}

@mixin h2 {
  color: $red;
  text-align: center;
  font-family: "Century Gothic", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 60px;
}

img {
  max-width: 100%;
}

header {
  background: $red;
  min-height: 49px;
  padding: 5px 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  .row {
    margin: 0;

    p {
      color: #fff;
      font-family: Roboto, sans-serif;
      font-size: 24px;
      text-align: center;
      margin: 0;
    }
    a {
      line-height: 1;
      img {
        max-width: 100%;
      }
    }
    .payment {
      display: flex;
      justify-content: space-around;
      img {
        box-shadow: 4px 0 9px rgba(0, 0, 0, 0.12);
        border-radius: 50%;
      }
    }

  }
}

section.first-screen {
  min-height: 90vh;
  display: flex;
  align-items: top;
  background-image: url("../img/bg-first-bottom-01.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: $red-l1;
  padding-top: 40px;
  .first-text {
    position: relative;
    z-index: 2;
    h1 {
      color: #fff;
      font-size: 36px;
      font-family: "Century Gothic", sans-serif;
      font-weight: 600;
    }
    p {
      color: white;
      font-family: "Century Gothic", sans-serif;
      font-size: 15px;
    }
    a.first-btn {
      color: white;
      font-family: "Century Gothic", sans-serif;
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
      background: linear-gradient(to bottom, $blue-l1 50%, $blue 50%);
      padding: 13px 55px;
      border-radius: 10px;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25), 0 5px 0 $blue-d1, 0 0 80px rgba(255, 255, 255, 0.4);
      margin-top: 20px;
      display: inline-block;
      transition: 0.2s all;
      text-align: center;
      &:hover {
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25), 0 5px 0 $blue-d1, 0 0 80px rgba(40, 182, 246, 0.4);
        transition: 0.2s all;
      }
    }
  }
  .desktop {
    padding: 20px 0 0;
    & img {
      max-width: 100%;
    }
    .ico {
      position: absolute;
      margin: -100px 0 0 20px;
      z-index: 1;
    }
  }
  .scroll-down a {
    text-align: center;
    background: white;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    color: $red;
    line-height: 1;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    top: -40px;
    i {
      position: relative;
      @include move-top(move, 0px);
      animation: move 1s ease 2.4s infinite;
      animation-direction: alternate;
    }
  }
}

#best-to-invest {
  padding: 80px 0 40px;
  h2 {
    @include h2;
  }
  .info {
    display: flex;
    margin-bottom: 40px;
    .first {
      margin: 10px 20px 0 0;
      img {
        width: 100px;
      }
    }
    .second {
      h4 {
        color: $text-black;
        margin: 0 0 20px;
        font-size: 22px;
        font-family: "Century Gothic", sans-serif;
        font-weight: 600;
      }
      p {
        color: #aeaeae;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 300;

      }
    }
  }
}

#tarrifs {
  background: url("../img/tarrifs.jpg") no-repeat bottom center / contain;
  .row {
    margin: 0;
  }
  h2 {
    @include h2;
    margin-bottom: 60px;
  }
  .one-tariff {
    margin-top: 50px;
    position: relative;
    transition: 0.5s all;
    transform: scale(1);
    top: 0;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
    border-radius: 10px 10px 0 0;
    &:hover {
      top: -20px;
      transition: 0.5s all;
      transform: scale(1.05);
      z-index: 2;
      box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.22);
    }
    &.start {
      .tariffs-header {
        background-color: $green;
      }
      span {
        color: $green;
        font-weight: 600;
      }
      .tarriffs-btn {
        a {
          background-color: $green;
        }
      }
    }
    &.normal {
      .tariffs-header {
        background-color: $blue;
        h4 {
          animation: best-choise 1s linear 0.5s infinite;
          animation-direction: alternate;
          font-size: 36px;
        }
      }
      span {
        color: $blue;
        font-weight: 600;
      }
      .tarriffs-btn {
        a {
          background-color: $blue;
          animation: best-choise2 1s linear 0.5s infinite;
          animation-direction: alternate;
          transform: scale(1);
        }
      }
    }
    &.medium {
      .tariffs-header {
        background-color: $orange;
      }
      span {
        color: $orange;
        font-weight: 600;
      }
      .tarriffs-btn {
        a {
          background-color: $orange;
        }
      }
    }
    &.vip {
      .tariffs-header {
        background-color: $red;
      }
      span {
        color: $red;
        font-weight: 600;
      }
      .tarriffs-btn {
        a {
          background-color: $red;
        }
      }
    }
    .tariffs-header {
      border-radius: 10px 10px 0 0;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $red;
      h4 {
        text-align: center;
        font-family: "Century Gothic", sans-serif;
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        margin: 0;

      }
    }
    .tariffs-body {
      background-color: #eeeeee;
      display: flex;
      flex-direction: column;
      padding: 20px 30px;
      line-height: 1.2;
      .up {
        .inform {
          display: flex;
          justify-content: space-between;
          text-transform: uppercase;
          font-family: Roboto, sans-serif;
          p {
            margin: 3px 0;
            font-size: 15px;
          }
          span {

          }
        }
      }
      .divider {
        margin: 15px 0;
        background-color: #b4b4b4;
      }
      .head-font {
        text-align: center;
        text-transform: uppercase;
        font-family: Roboto, sans-serif;
        font-weight: 500;
      }
      .value {
        background: white;
        text-align: right;
        margin: 0 0 4px;
        padding: 3px;
        border-radius: 3px;
        p {
          margin: 2px 0;
          font-family: Roboto, sans-serif;
          font-weight: 300;
          font-size: 16px;
          line-height: 1.1;
          .val {
            font-size: 15px;
            font-family: Roboto, sans-serif;
          }
        }
      }
      .tarriffs-btn {
        a {
          display: block;
          text-align: center;
          font-size: 20px;
          padding: 15px;
          color: white;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          margin: 10px 0 0;
          border-radius: 3px;
          opacity: 0.9;
          &:hover {
            box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
            opacity: 1;
          }
        }
      }
    }
  }
}

#call-to-action {
  background: url("../img/call-to-action.jpg");
  min-height: 200px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  .row {
    margin: 0;
  }
  p {
    margin: 0;
    color: white;
    font-size: 32px;
    font-family: "Century Gothic", sans-serif;
  }
  a {
    font-size: 30px;
    background: linear-gradient(to bottom, #e53935 50%, #f43f3a 50%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 6px 0 #d32f2e, 0 0 5px rgba(0, 0, 0, 0.4);
    font-family: "Century Gothic", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.2s all;
    &:hover {
      background: linear-gradient(to bottom, #f43f3a 50%, #e53935 50%);
      transition: 0.2s all;
    }
  }
}

footer {
  background-color: $red;
  .row {
    margin: 0;
  }
  .my-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    img {
      width: auto;
      height: auto;
    }
    p {
      color: white;
      margin: 0;
      font-size: 16px;
    }
  }
}

@keyframes best-choise {
  0% {
    font-size: 36px;
  }
  100% {
    font-size: 40px;
  }

}

@keyframes best-choise2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }

}

@media (max-width: 480px) {
  section.first-screen .desktop img {
    display: none;
  }
  header {
    max-height: 95px;
    padding: 25px 0 0 ;
    .logo {
      display: flex;
      flex-direction: column;
      justify-content: top;
      align-items: center;
    }
  }
  .first-screen {
    text-align: center !important;
    p {
      font-size: 16px;
    }
  }
  #call-to-action {
    padding: 50px 0;
    text-align: center !important;
  }
  footer .my-flex {
    flex-direction: column;
  }
}

@media (min-width: 480px) and (max-width: 980px) {
  section.first-screen .desktop img {
    max-width: 100%;
  }
  header {
    max-height: 95px;
    padding: 25px 0 0 ;
    .logo {
      display: flex;
      flex-direction: column;
      justify-content: top;
      align-items: center;
    }
  }
  .first-screen {
    text-align: center !important;
    p {
      font-size: 16px;
    }
  }
  #call-to-action {
    padding: 50px 0;
    text-align: center !important;
  }
  footer .my-flex {
    flex-direction: column;
  }
}

@media (min-width: 980px) and (max-width: 1400px) {

  #tarrifs .one-tariff .tariffs-body .up .inform p {
    margin: 3px 0;
    font-size: 12px;
  }
  #tarrifs .one-tariff .tariffs-body .up .inform span {
    margin: 3px 0;
    font-size: 12px;
  }

  #tarrifs .one-tariff .tariffs-body {
    padding: 15px;
    line-height: 1.2;
  }

  #tarrifs .one-tariff .tariffs-body .head-font {
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
  }

  #tarrifs .one-tariff .tariffs-body .value p {
    margin: 2px 0;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.1;
  }
  #tarrifs .one-tariff .tariffs-body .value {
    margin: 0 0 3px;
    padding: 1px 2px;

  }
  #tarrifs .one-tariff .tariffs-body .value p .val {
    font-size: 12px;
  }

  #tarrifs .one-tariff .tariffs-body .tarriffs-btn a {
    display: block;
    text-align: center;
    font-size: 17px;
    padding: 8px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 8px 0 0;
    border-radius: 3px;
    opacity: 0.9;
  }
  #tarrifs .one-tariff .tariffs-header {
    border-radius: 10px 10px 0 0;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d32f2e;
  }
  #call-to-action p {
    font-size: 24px;
  }
}

@media (min-width: 1400px) {

}