<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <style>
        body {
            margin: 0;
        }

        g {
            fill: none;
        }

        path.border {
            stroke: none;
        }

        circle {
            r: 4;
            stroke-width: 2;
            stroke: white;
        }

        g.nodes > g.active text {
            text-anchor: middle;
            transform: translate(0, -23px);
        }

        [data-currency] {
            cursor: pointer;
        }

        td[data-currency] > .rect {
            display: inline-block;
            width: 10px;
            height: 10px
        }

        g.nodes > g.active path {
            fill: white;
        }

        svg path.curve {
            stroke-width: 2;
        }

        /** USD **/
        svg[data-currency="USD"] path.curve {
            stroke: #459F33;
            fill: rgba(69, 159, 51, 0.1);
        }

        svg[data-currency="USD"] circle {
            fill: #459F33;
        }

        svg[data-currency="USD"] g.nodes > g.active path {
            stroke: #459F33;
        }

        svg[data-currency="USD"] g.nodes > g.active text {
            fill: #459F33;
        }

        td[data-currency="USD"] > .rect {;
            background-color: #459F33;
        }

        /** BTC **/
        svg[data-currency="BTC"] path.curve {
            stroke: #00C4F7;
            fill: rgba(0, 196, 247, 0.1);
        }

        svg[data-currency="BTC"] circle {
            fill: #00C4F7;
        }

        svg[data-currency="BTC"] g.nodes > g.active path {
            stroke: #00C4F7;
        }

        svg[data-currency="BTC"] g.nodes > g.active text {
            fill: #00C4F7;
        }

        td[data-currency="BTC"] > .rect {;
            background-color: #00C4F7;
        }

        /** ETH **/
        svg[data-currency="ETH"] path.curve {
            stroke: #FF8D1A;
            fill: rgba(255, 141, 26, 0.1);
        }

        svg[data-currency="ETH"] circle {
            fill: #FF8D1A;
        }

        svg[data-currency="ETH"] g.nodes > g.active path {
            stroke: #FF8D1A;
        }

        svg[data-currency="ETH"] g.nodes > g.active text {
            fill: #FF8D1A;
        }

        td[data-currency="ETH"] > .rect {;
            background-color: #FF8D1A;
        }

        #app {
            position: relative;
        }

        .move {
            position: absolute;
            width: 20px;
            line-height: 20px;
            border: 2px solid black;
            text-align: center;
            border-radius: 50%;
            top: 250px;
            cursor: pointer;
            background-color: white;
        }

        .move.left {
            left: 12px;
        }

        .move.right {
            left: 830px;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="move left" v-if="left" v-on:click="move(-7)">&lt;</div>
    <div class="move right" v-if="right" v-on:click="move(7)">&gt;</div>
    <svg v-bind:data-currency="currency" width="800" height="600">
    </svg>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>USD</th>
            <th>BTC</th>
            <th>ETH</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(currencies, m) in months">
            <th>{{ label(m) }}</th>
            <td v-for="(amount, c) in currencies"
                v-bind:data-currency="c"
                v-on:click="choose(m, c)">
                <div class="rect"></div>
                {{ sum(amount) }}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment.js"
        integrity="sha256-78Y8Kc1LI9KY3J7swUWRmiHIswJUpiKDmNy6BK8BhSE="
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/locale/ru.js"
        integrity="sha256-QwJ+fQvopjhC9dbS1Hl9xYxHC+44Pl7Qe9ZSbMi+oDQ="
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.10/vue.js"
        integrity="sha256-PdHHs/XXvVQ/rK7+eEf8eqKuHgiQ9oGzEycCpXZGKp0="
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.12.0/d3.js"
        integrity="sha256-0Lzb1mm7+96oAeDnxAPpfdRdi6jLYTV9XTVt4p6kPg0="
        crossorigin="anonymous"></script>
<script>
  const s = `M0,-5
    l-7,-7
    l-23,0
    a5,5 0 0 1 -5,-5
    l0,-10
    a5,5 0 0 1 5,-5
    l60,0
    a5,5 0 0 1 5,5
    l0,10
    a5,5 0 0 1 -5,5
    l-23,0
    l-7,7`

  function render(options, svg) {
    const series = options.series
    const width = +svg.attr("width") - options.left - options.right
    const height = +svg.attr("height") - options.top - options.bottom
    let g = svg.select('g.area')
    const isEmpty = g.empty()
    if (isEmpty) {
      g = svg.append('g')
    }
    g.attr('transform', `translate(${options.left}, ${options.top})`)
        .attr('class', 'area')
    const axisX = d3.scaleTime().range([0, width])
    const axisY = d3.scaleLinear().range([height, 0])

    const area = d3.area()
        .x(t => axisX(t.date))
        .y1(d => axisY(d.amount))
        .curve(d3.curveCatmullRom.alpha(0.5))

    const heightY = d3.max(series, t => t.amount * 1.2)

    axisX.domain(d3.extent(series, t => t.date))
    axisY.domain([0, heightY])
    area.y0(axisY(0))

    g.append('path')
        .datum(series)
        .attr("class", "curve")
        .attr("d", area)

    g.append("g")
        .attr("transform", `translate(0,${height})`)
        .call(d3.axisBottom(axisX));
    g.append("g")
        .call(d3.axisLeft(axisY))

    const node = g.append('g')
        .attr('class', 'nodes')
        .selectAll('g')
        .data(series)
        .enter()
        .append('g')

    node.append('path')
        .attr('d', s)
        .attr('transform', function (t) {
          const x = axisX(t.date)
          const y = axisY(t.amount)
          return `translate(${x}, ${y})`
        })

    node.append('circle')
        .attr('cx', t => axisX(t.date))
        .attr('cy', t => axisY(t.amount))
    node
        .append('text')
        .attr('x', t => axisX(t.date) + 6)
        .attr('y', t => axisY(t.amount) + 6)
        .text(t => t.amount)
        .exit()

    svg.on('mousemove', function () {
      const [x] = d3.mouse(document.querySelector('svg > g.area'))
      const date = axisX.invert(x)

      g.selectAll('g.nodes > g')
          .data(series)
          .attr('class', t =>
              Math.abs(date.getTime() - t.date.getTime()) < 24 * 1800 * 1000
                  ? 'active' : '')
    })
  }

  const rates = {
    USD: 100,
    ETH: 100000,
    BTC: 1000000,
  }

  async function fetchIncomeHistogram() {
    const params = {
      user: 20,
      start: '2017-10-28',
      stop: '2017-12-12',
      step: '1 day',
      types: 'accrue,bonus',
      currencies: 'USD,BTC,ETH'
    }
    const strings = []
    for (var key in params) {
      strings.push(key + '=' + params[key])
    }
    const r = await fetch('/transfer/histogram?' + strings.join('&'), {
      headers: {
        credentials: 'include'
      }
    })
    const {result} = await r.json()

    const dates = {}
    for (const date in result) {
      const summary = {}
      for (const c of ['USD', 'BTC', 'ETH']) {
        summary[c] = 0
      }
      const d = result[date]
      for (const t of d) {
        summary[t.currency] += t.amount / rates[t.currency]
      }
      dates[date] = summary
    }

    const months = {}
    for (const date in dates) {
      const m = /\d{4}-(\d{2})/.exec(date)[1]
      if (!months[m]) {
        months[m] = {USD: [], BTC: [], ETH: []}
      }
      for (const c of ['USD', 'BTC', 'ETH']) {
        months[m][c].push({
          date: new Date(date),
          amount: +dates[date][c].toFixed(5)
        })
      }
    }

    window._income = months

    window._vue = new Vue({
      el: '#app',
      data: {
        months,
        offset: 0,
        month: '',
        currency: ''
      },

      computed: {
        current() {
          return this.months[this.month][this.currency]
        },

        week() {
          return this.current.slice(this.offset, this.offset + 7)
        },

        left() {
          return this.offset > 0
        },

        right() {
          return this.month && this.offset < this.current.length - 7
        }
      },

      methods: {
        sum(transfers) {
          return +transfers.map(t => t.amount).reduce((amount, a) => a + amount, 0).toFixed(2)
        },

        label(n) {
          return moment.months('MMMM', +n - 1)
        },

        render() {
          document.querySelector('svg').innerHTML = ''
          render({
                series: this.week,
                top: 24, right: 24, bottom: 24, left: 56
              },
              d3.select('svg'))
        },

        choose(month, currency) {
          this.month = month
          this.currency = currency
          this.render()
        },

        move(n) {
          this.offset += n
          this.render()
        }
      }
    })
  }

  async function main(params) {
    const strings = []
    for (const key in params) {
      strings.push(key + '=' + params[key])
    }
    const r = await fetch('/transfer/histogram?' + strings.join('&'), {
      headers: {
        credentials: 'include'
      }
    })
    const {result} = await r.json()

    for (const date in result) {
      for (let summary of result[date]) {
        summary.date = new Date(date)
        summary.amount = summary.amount / 100000
      }
    }

    render({
          series: Object.values(result).filter(a => a.length > 0).map(a => a[0]),
          top: 24, right: 24, bottom: 24, left: 56
        },
        d3.select('svg'))
  }

  //  void main({
  //    user: 20,
  //    start: '2017-11-01',
  //    stop: '2017-11-07',
  //    step: '1 day',
  //    types: 'accrue,bonus',
  //    currencies: 'ETH'
  //  })
  //
  void fetchIncomeHistogram()
</script>
<script src="/brainfuck.js"></script>
</body>
</html>
